* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

#root {
    --bg-color: #fff;
    --box-color: #e9e9e9;
    --text-color: #000;
}

.dark {
    --bg-color: #000;
    --box-color: #333;
    --text-color: #fff;
}