.footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #434343;
    color: #fff;
    gap: 20px;
    font-size: 20px;
}

.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}