.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}
.main {
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 100vh;
    align-items: center;
}

.imagem img {
    width: 450px;
    height: auto;
    border-radius: 50%;
}

.saudacoes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.895);
    padding: 50px;
    width: 1200px;
    border-radius: 20px;
}
.saudacoes .botaoEntreEmContato {
    display: flex;
}
.saudacoes .botaoEntreEmContato button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #4b9a99;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.botaoEntreEmContato button {
    display: flex;
    gap: 10px;
    transition: .3s;
    align-items: center;
    img {
        width: 30px;
    }
}
.botaoEntreEmContato button:hover {
    background-color: #377e7d;
}   

.saudacoes h1 {
    font-size: 40px;
    text-align: justify;
    font-weight: bolder;
}

.saudacoes p {
    font-size: 25px;
    text-align: justify;
}
