.services {
    height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    @media (max-width: 768px) {
        height: auto;
        padding: 20px;
    }
}

.titleServices {
    margin-top: 20px;
    @media (max-width: 768px) {
        margin-top: 0;
    }
}

.mainServices {
    display: flex;
    justify-content: center;
    @media (max-width: 768px) {
        flex-direction: column;
        height: auto;
    }
}   

.titleServices h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    color: #4B9A99;
    @media (max-width: 768px) {
        font-size: 30px;
    }
}
.conteudoServices {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.cardServices {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    display: flex;
    @media (max-width: 768px) {
        flex-direction: column;
        height: auto;
    }
}
.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 450px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.card-description {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
    margin-bottom: 15px;
}

.card-button {
    display: inline-block;
    text-decoration: none;
    background: #4B9A99;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}

.card-content .card-button {
    display: flex;
    width: 50%;
    margin: 0 auto;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.card-button:hover {
    background: #206463;
}